.MuiAppBar-root {
    background-color: #003052; /* Dark blue background */
    padding: 0.5rem 1rem; /* Add some padding */
    color: #fff; /* White text color */
  }
  
  .MuiTabs-root {
    display: flex;
    flex-direction: column; /* Stack tabs vertically */
    /* justify-content: space-between; (Optional for horizontal alignment) */
  }
  
  .MuiTabs-indicator {
    /* Style the indicator (underline) below the selected tab */
    background-color: #fff; /* White underline for selected tab */
    height: 3px; /* Adjust underline height */
  }
  
  .MuiTab-root {
    /* Style individual tabs */
    min-width: auto; /* Allow for dynamic tab widths */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    font-weight: bold; /* Make tab text bold */
    text-decoration: none; /* Remove underline from links */
    cursor: pointer; /* Indicate clickable tabs */
    transition: color 0.2s ease-in-out; /* Smooth transition on hover */
  }
  
  .MuiTab-root:hover {
    color: #ddd; /* Light gray text color on hover */
  }
  
  .MuiTab-root.Mui-selected {
    /* Styles for the active tab */
    color: #fff; /* Maintain white text color for active tab */
    font-weight: bold; /* Keep bold text for active tab */
  }
  